.main-header {
  padding: 10px;
  margin-bottom: 80px;
}

.bag-title {
  position: relative;
  text-transform: uppercase;
  margin: 0;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .bag-icon {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/img/bag.png");
  }
}